@model List<Order>
@if (Model != null && Model.Count() > 0)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Tên món ăn
                    </th>
                    <th>
                        Hình ảnh
                    </th>
                    <th>Số lượng</th>
                    <th>
                        Thời gian đặt hàng
                    </th>
                    <th>
                        Tổng tiền
                    </th>

                    <th>
                        Trạng thái
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDetailsId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                <img width="50" height="50" src="~/images/products/@item.Product.ImageUrl" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>

                            <td>
                                @((item.Product.Price * item.Quantity).Value.ToString("#,##0")) VNĐ
                            </td>

                            <td>
                                @if (item.Status == true)
                                {
                                    <label class="label label-success">Đã thanh toán</label>
                                }
                                else
                                {
                                    <label class="label label-danger">Chưa thanh toán</label>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Chưa có đơn hàng!!</p>
}

