@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<OrderFood.Models.User>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý tài khoản" + CurrentPage;

}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
            <div class="pcoded-inner-navbar main-menu">

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Tổng quan</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.dash.main">Bảng điều khiển</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>

                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Danh mục món ăn </div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                            <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.form-components.main">Danh mục</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Kho hàng</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
                            <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.form-components.main">Quản lý kho hàng</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Trạng thái đơn hàng</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">
                            <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Cập nhật trạng thái</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Danh sách tài khoản</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li class="active">
                        <a asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">
                            <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.form-components.main">Tài khoản</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Phản hồi người dùng</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Phản hồi</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>

                <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Báo cáo</div>
                <ul class="pcoded-item pcoded-left-item">
                    <li>
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                            <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Doanh thu</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">

                        <div class="card borderless-card">
                            <div class="card-block danger-breadcrumb">
                                <div class="breadcrumb-header">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="#!">
                                                <i class="icofont icofont-home"></i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Bảng điều khiển</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a asp-action="Index">Tài khoản</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="page-body">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tên người dùng</th>
                                                    <th>Tên tài khoản</th>
                                                    <th>Email</th>
                                                    <th>Ngày tạo </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <th scope="row">@Html.DisplayFor(modelItem => item.UserId)</th>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Username)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CreateDate)
                                                            </td>
                                                            <td>
                                                                @* <a class="btn btn-primary btn-round" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> | *@
                                                                <a asp-action="Details" asp-route-id="@item.UserId">
                                                                    <i class=" text-c-blue f-16 ti-menu-alt m-r-10"></i>
                                                                </a> |
                                                                <a asp-action="Delete" asp-route-id="@item.UserId">
                                                                    <i class=" text-c-orenge f-16 ti-trash m-r-10"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    <div class="dataTables_paginate paging_simple_numbers" id="dom-jqry_paginate">
                                        <div aria-label= "Page navigation example">
                                            <ul class="pagination">
                                                <pager class="pager-container" list = "@Model" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index"></pager>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
